.finderViewer {
    width: 800px;
    height: 52rem;
    text-align: center;
    background-color:  #d9cd20;
    margin-bottom: 14.2em;
    margin-left: 43em;
    border: 3px solid;
    border-color: black;
}

.finderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.finderTitle {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.titleSearchForm {
    display: flex;
    justify-content: space-around;
}

#titleSearchInput{
    width: 100%;
}

.titleSearchField {
    width: 75%;
}

.titleSearchBtn {
    height: 60%;
    margin-top: 2em;
}

.singleMovieFindBtn{
    margin-bottom: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
}

.finderGenreButtons {
    display: flex;
    flex-direction: column;
    background-color:  #d9cd20;
    padding: 1em;
    margin-left: 30em;
    height: 57em;
}

.anotherLikeThis {
    margin-left: 1em;
}

.passBtn {
    margin-left: 1em;
}