.userBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-color: black;
    padding: 1em;
    color:  #d9cd20;
    width: 35%;
    background-color: #404040;
    font-weight: bold;
    font-size: 24px;
    
}

.userBox__title {
    font-size: 36px;
    font-weight: 1000;
    letter-spacing: 4px;
    text-align: center;
}

#partnerInput {
    width: 50%;
}