.movieBox {
    margin: 1em;
    padding: 1em;
    border: 1px solid;
    width: 75%;
}

.movie__release {
    margin-top: 1em;
    margin-bottom: 1em;
}

.finderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.finderViewer {
    width: 800px;
    height: 500px;
    text-align: center;
    background-color: goldenrod;
}