.movieBox {
    margin: 1em;
    padding: 1em;
    border: 1px solid;
    width: 30%;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}
.movie__release {
    margin-top: 1em;
    margin-bottom: 1em;
}

.finderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.finderViewer {
    width: 800px;
    height: auto;
    text-align: center;
    background-color: goldenrod;
}

#titleSearchInput{
    width: 100%;
}

.titleSearchField {
    width: 75%;
}

.titleSearchForm {
    display: flex;
    justify-content: space-around;
}

.titleSearchBtn {
    height: 60%;
    margin-top: 2em;
}

.movieComment {
    margin: 1em;
    border: 1px solid;
    border-radius: 30px;
    padding: 1em;
}

.likedMark {
    margin-left: 2em;
    
}

.commentForm {
    margin-top: 1em;
    text-align: center;
}

.submitComment {
    margin-left: 2em;
}

#commentTextInput {
    width: 70%;
}

.moviePoster {
    text-align: center;
}

.buttonBoxLikes {
    text-align: center;
}

.movieCommentAuthor {
    float: right;
}

.likeFromBrowse {
    text-align: center;
}

.browseMoreMovies {
    width: 31.5%;
    height: 30%;
    margin: 1em;
    text-align: center;
    background-color: goldenrod;
    cursor: pointer;
}

