.movieBox {
    margin: 1em;
    padding: 1em;
    border: 1px solid;
    width: 30%;
    background-color: goldenrod;
    color: #404040;
    
}

.queueMovieBox {
    height: 1000px;
    

}

.movies {
    display: flex;
    flex-wrap: wrap;
}
.movie__release {
    margin-top: 1em;
    margin-bottom: 1em;
}

.movie__name {
    text-align: center;
}

.finderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.finderViewer {
    width: 800px;
    height: auto;
    text-align: center;
    background-color: goldenrod;
    margin-top: 5em;
    margin-bottom: 14.2em;
}

#titleSearchInput{
    width: 100%;
}

.titleSearchField {
    width: 75%;
}

.titleSearchForm {
    display: flex;
    justify-content: space-around;
}

.titleSearchBtn {
    height: 60%;
    margin-top: 2em;
}


.comedySearchBtn {
    height: 2em;

}

.movieComment {
    margin: 1em;
    border: 1px solid;
    border-radius: 30px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentDelete {
    float: right;
    cursor: pointer;
}

.queueComment {
    width: 100%;
    text-align: center;
}

.editModal {
    width: 60%;
    padding: 1em;
    background-color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalClose {
    float: right;
}

.modalInput {
    width: 60%;
}

.commentControls {
    display: flex;
    flex-wrap: nowrap;
}

.likedMark {
    margin-left: 2em;
    
}

.commentForm {
    margin-top: 1em;
    text-align: center;
}

.submitComment {
    margin-left: 2em;
}

.commentTextInput {
    width: 70%;
}

.moviePoster {
    text-align: center;
}

.buttonBoxLikes {
    text-align: center;
}

.likeFromBrowse {
    text-align: center;
}

.finderGenreButtons {
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    padding: 1em;
    margin-left: 5em;
    margin-top: 5em;
    height: 50em;
}

.genreSelect {
    width: 20%;
}

.genreSelectBox {
    text-align: center;
    margin-top: 3em;
    color: goldenrod;
}

.queueFallback {
    text-align: center;
}