.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: black;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    font-size: 18px;

}

.navbar__item:hover {
    background-color: #404040;
    color: white;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    height: 100%;

}

.navbar__link:hover {
    text-decoration: none;
    color: white;
}

.navbar__link {
    text-decoration: none;
    color:  #d9cd20;
}

.navbarBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logoImg {
    margin-bottom: -1em;
    margin-top: -0.8em;
}

.logoPic{
    width: 40%;
}